<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<title>Show</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
<script type="text/javascript" src="/dashboard/form1.js"></script>

</head>
<body>
<h1> Show Users </h1>
	<div style="margin: 10px; padding-bottom: 40px">
		<table id="show-table">
		</table>
	</div>
</body>
</html>